<!--<div class="loginPage">-->
    <!--<div class="loginArea">-->
        <!--<div>-->
            <!--<h1 data-i18n="page.header.login"></h1>-->
        <!--</div>-->
        <!--<div class="ui negative message" ng-show="errorL">-->
            <!--{{errorL}}-->
        <!--</div>-->
        <!--<form id="loginForm" class="ui form" name="loginForm" method="post" target="dummy" autocomplete="on" ng-submit="login()" action="/dummy.html">-->
            <!--<div class="loginRaw field">-->
                <!--<label class="labelField" data-i18n="label.user.name"></label>-->
                <!--<input class="ui input" placeholder="User Name" id="username" name="username" ng-model="username" type="text" autocomplete="on" required readonly ng-mouseover="rmReadonly()" />-->
            <!--</div>-->
            <!--<div class="loginRaw field">-->
                <!--<label class="labelField" data-i18n="label.password"></label>-->
                <!--<input class="ui input" placeholder="Password" id="password" name="password" ng-model="password" type="password" autocomplete="on" required />-->
            <!--</div>-->
            <!--<div class="filed">-->
                <!--<div class="loginButton">-->
                    <!--<button class="ui right floated basic button" type="submit" data-i18n="button.login"></button>-->
                <!--</div>-->
            <!--</div>-->
        <!--</form>-->
    <!--</div>-->
    <!--<div class="extraInformation">-->
        <!--<div data-i18n="label.tech.support"></div>-->
    <!--</div>-->

    <!--<iframe src="/dummy.html" name="dummy" style="display: none"></iframe>-->
<!--</div>-->
<h1>Login</h1>