<!DOCTYPE html>
<html ng-app="simonaApp" ng-cloak>

<head>
    <link rel="icon" type="image/png" href="/images/icon.jpeg">
    <title>Simona</title>
    <base href="/">

    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <meta http-equiv="Content-Script-Type" content="text/javascript">
    <meta http-equiv="Content-Style-Type" content="text/css">

</head>
    <body ng-controller="MainController">

    <div class="container container-fluid h-100 d-flex flex-col">
        <div style="width: 100%;" class="grid">
            <div class="row h-100">
                <div class="col-sm-3">
                    <div ng-include='"partials/header.html"'></div>

                    Regions:
                    <div ng-repeat="item in regions">
                        {{item.id}}'{{item.latitudeX}}'{{item.latitudeY}}'{{item.longitudeX}}'{{item.longitudeY}}
                    </div>

                    MRMS:
                    <div ng-repeat="item in mrms">
                        {{item.id}}'{{item.latitude}}'{{item.longitude}}'{{item.type}}
                    </div>

                    Base Stations:
                    <div ng-repeat="item in baseStations">
                        {{item.id}}'{{item.latitude}}'{{item.longitude}}'{{item.type}}
                    </div>

                    <div ng-view class="angular-view"></div>

                    <div ng-include='"partials/footer.html"'></div>
                </div>
                <div class="col-sm-9 map">
                    <div id="mapDiv"></div>
                </div>
            </div>
        </div>
    </div>


    <!--JavaScript and CSS files-->
    <!-- load AngularJS -->
    <script src="js/lib/angular-1.6.9/angular.min.js"></script>
    <script src="js/lib/angular-1.6.9/angular-route.js"></script>
    <script src="js/lib/angular-1.6.9/angular-resource.js"></script>
    <script src="js/lib/angular-1.6.9/angular-cookies.js"></script>

    <!--Load ArcGIS ESRI-->
    <script src="https://js.arcgis.com/4.6/"></script>
    <script src="https://unpkg.com/angular-esri-map@2"></script>
    <!--Load CSS file-->
    <link rel="stylesheet" href="https://js.arcgis.com/4.6/esri/css/main.css">

    <!-- Load jQuery-->
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>
    <script src="http://code.jquery.com/ui/1.9.2/jquery-ui.min.js"></script>
    <link rel="stylesheet" type="text/css" href="http://code.jquery.com/ui/1.9.2/themes/base/jquery-ui.css"/>

    <!--Local JS files-->
    <script src="js/app/simonaApp.js"></script>
    <script src="js/app/controller/Controller.js"></script>
    <script src="js/app/service/Service.js"></script>
    <script src="js/app/resize.js"></script>

    <!-- Load Bootstrap 4-->
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <!-- CSS files -->
    <link type="text/css" rel="stylesheet" href="css/app-main.css">
    </body>
</html>
